@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    color: white;
}

.card {
    width: 300px;
    /* border: 2px solid wheat; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    padding: 1.2rem;
}

.img-container {
    margin-bottom: 1rem;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    background-color: hsl(178, 100%, 50%);
    overflow: hidden;
}

.eq-img {
    transform: scale(1.1);
    transition: 1s;
}

.icon-eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.img-container:hover .icon-eye {
    z-index: 1;
}

.img-container:hover .eq-img {
    opacity: 0.5;
}

h1 {
    margin-bottom: 1rem;
    cursor: pointer;
}

h1:hover {
    color: hsl(178, 100%, 50%);
}

.card-info-paragraph {
    color: hsl(215, 51%, 70%);
    margin-bottom: 1rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.flex p:nth-child(1) {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.card-info {
    border-bottom: 1px solid hsl(215, 51%, 70%);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.creator-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: hsl(215, 51%, 70%);
}

.creator-info img {
    width: 15%;
    border: 1px solid white;
    border-radius: 50%;
}

.creator-info span {
    color: white;
    cursor: pointer;
}

.creator-info span:hover {
    color: hsl(178, 100%, 50%);
}

@media (max-width: 650px) {
    .card {
        width: 80%;
    }

    h1 {
        font-size: 1.1rem;
    }
}
